<div class="form-group">
  <label>Version Number:</label><br>
  <select class="form-control" style="width: 200px; position: relative; left: 12%; display: inline-block" [(ngModel)]="currVersion"
    #lang="ngModel" name="verselect" (ngModelChange)="changeVersion()">
    <option *ngFor="let ver of model.versions">{{ver.verNum}}</option>
  </select><br>

  <label>Language:</label><br>
  <select class="form-control" style="width: 200px; position: relative; left: 12%; display: inline-block" [(ngModel)]="currLanguage"
    #lang="ngModel" name="langselect" (ngModelChange)="changeLanguage()">
    <option *ngFor="let lang of languages.lang">{{lang.langCode}}</option>
  </select>
</div>

<div class="form-group">
  <button class="btn btn-primary" (click)="onSubmit()">Export Files</button>
</div>