    <!--The content below is only a placeholder and can be replaced.-->


    <div *ngIf="!loggedIn">
      <div style=" padding-top: 10px">
        <img src="../assets/Auto_Logic_Minimum_Web.png" style="position: relative; left: 35%">
      </div>
    </div>


    <div id="topbar" >
    <header class="container">
      <div hidden>
      <span>{{diagnostics}}</span>
      </div>

      <div *ngIf="loggedIn; else notLoggedIn">
        <h1 style="text-align:center">
          {{title}}
        </h1>
        <div *ngIf="isAdmin; else notAdmin">
          <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <h3>Admin</h3>
            <ul class="navbar-nav nav">

              <li class="nav-item"><a class="nav-link" routerLink="/admin/manageUsers" routerLinkActive="active">Manage Users</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/admin/manageLanguages" routerLinkActive="active">Manage languages</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/admin/importFile" routerLinkActive="active">Import XML Files</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/admin/exportFile" routerLinkActive="active">Export into XML File</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/admin/statistics" routerLinkActive="active">Statistics</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/admin/keyView" routerLinkActive="active">Translation Tool </a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/admin/logs" routerLinkActive="active">Logs</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/logout" routerLinkActive="active">Logout</a></li>
            </ul>
          </nav>
        </div> 
        <ng-template #notAdmin>
          Dealer
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav nav">
              <li class="nav-item"><a class="nav-link" routerLink="/dealer/keyView" routerLinkActive="active">Translaton Tool</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/logout" routerLinkActive="active">Logout</a></li>
            </ul>
          </nav>
        </ng-template>
      </div>
      <ng-template #notLoggedIn >
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

          <a class="navbar-brand" href="#"></a>
          <ul class="navbar-nav nav  mr-auto" style="position: relative; left: 35%;">
          </ul>
        </nav>
      </ng-template>
    </header>
    </div>


    <router-outlet></router-outlet>
