
<div>{{diagnostics}}</div>
<nav>
    <ul class="nav-links">
      <li class="nav-link"><a routerLink="/home" routerLinkActive="active">Users</a></li>
      <li class="nav-link"><a routerLink="/home" routerLinkActive="active">Languages</a></li>
      <li class="nav-link"><a routerLink="/home" routerLinkActive="active">Import/Export XML</a></li>
      <li class="nav-link"><a routerLink="/home" routerLinkActive="active">View Translations</a></li>
    </ul>
  </nav>
  <h2>Manage Languages</h2>
  <div class="container">
      <div class="row">
          <button (click)="createLanguages()">Create Language</button>
      </div>
      <div class="row">
          <div class="col-sm-6">
              <div class="dataTables_length">
                  <label>Show
                      <select name="dealer-table_length" class="form-control input-sm">
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                      </select>
                      entries
                  </label>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="dataTables_filter">
                  <label>
                      Search:
                      <input type="search" class="form-control input-sm" placeholder="">
                  </label>
              </div>
          </div>
      </div>
      <div class="row"></div>
      <div class="row">
          <div class="col-sm-12">
              <table width="100%" class="table table-striped  table-hover dataTable no-footer dtr-inline collapsed">
                  <thead>
                      <tr role="row">
                          <th>Language Name</th>
                          <th>Language Code</th>                       
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let language of model.languages">
                      <td>{{language.langName}}</td>
                      <td>{{language.langCode}}</td>
                      <td><a (click)="manageVersions($event)" attr.data-vernum="{{Language.langCode}}">Manage versions</a></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>